@import 'basic/base.css';
@import 'basic/layout.css';
@import 'basic/helpers.css';
/* @import 'setup/typography.css'; */
/* @import 'setup/mq.css'; */


.main-header {
    min-height: 50px;
    margin-bottom: 1em;
}
.main-header .header-content {
    margin: 0;
    height: 100%;
    padding: 1em 0;
}

.header-controls .search button {
    border-radius: 0 2px 2px 0;
    margin: 0;
}


.main-header .main-logo {
    font-size: 2em;
    cursor: pointer;
    color: rgb(50, 50, 50);
}

.search input {
    color: rgb(222, 222, 222);
}

.info-container {
    flex-basis: 45%;
    /* background-color: antiquewhite; */
    flex-direction: column;
    margin-inline-end: .5em;
}

.map-container {
    flex-basis: 55%;
    /* width: 50%; */
    height: 400px;
    /* background-color: rgb(178, 108, 17); */
    flex-direction: column;
}

.locs table{
    text-align: center;
    width: 100%;
}

.locs thead {
    background-color: gray;
}
.locs thead th{
    padding: .5em;
}


@media (max-width: 800px) {
    .main-content {
        /* flex-direction: row-reverse; */
        flex-wrap: wrap;
    }

    .info-container {
        flex-basis: 100%;
        order: 1; 

    }
    
    .map-container {
        flex-basis: 100%;
        margin-bottom: 1em;
    }
    
}

@media (max-width: 500px) {
    .header-controls {
        flex-direction: column;
    }

    .header-controls button{
        margin: 0 0 .5em;
        min-height: 3em;
        align-items: center;
    }
    
    .main-header .header-content {
        flex-direction: column;
    }
    
    .main-header .main-logo {
        margin-bottom: .5em;
    }
    
}
